/*import css variables*/
@import url('../../variables.css');

/*define default button style*/
button {
    cursor: pointer;
    height: auto;
    width: auto;
    color: var(--white);
    background-color: var(--transparent);
    border: var(--no_border);
    border-radius: var(--default_border_radius);
    align-items: center;
}

/*define button hover style properties*/
button:hover {
    border: var(--light_glass_morph);
}

/*define button active style properties*/
button:active {
    border: var(--default_border);
    background-color: var(--default_glass_morph);
}