/*import css variables*/
@import url("../../variables.css");

/*set video view style properties*/
.video-view-style-properties {
	height: 320px;
	width: auto;
	border-radius: var(--default_border_radius);
	margin: 2%;
}
