/*import css variables*/
@import url("../../variables.css");

/*define flexbox style properties*/
.flexbox-style-properties {
	display: flex;
	padding: var(--default_padding);
	align-items: center;
}

/*define grid component style project*/
.grid-component-style-properties {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--default_padding);
	width: 100%;
	height: auto;
}

/*define content container style properties*/
.content-container-style-properties {
	height: auto;
	width: auto;
	padding: 2%;
	border-radius: var(--default_border_radius);
	background: var(--default_glass_morph);
	margin-bottom: 2%;
	text-align: left;
}
